
src/Tests/obj/Debug/Tests.pdb
src/Tests/obj/Debug/Tests.dll
src/Tests/obj/Debug/Tests.csprojAssemblyReference.cache
src/Tests/bin/Debug/Tests.pdb
src/Tests/bin/Debug/Tests.dll
src/Kalkulator/obj/Debug/MainWindow.g.i.cs
src/Kalkulator/obj/Debug/MainWindow.g.cs
src/Kalkulator/obj/Debug/MainWindow.baml
src/Kalkulator/obj/Debug/Kalkulator_MarkupCompile.lref
src/Kalkulator/obj/Debug/Kalkulator_MarkupCompile.cache
src/Kalkulator/obj/Debug/Kalkulator.Properties.Resources.resources
src/Kalkulator/obj/Debug/Kalkulator.pdb
src/Kalkulator/obj/Debug/Kalkulator.g.resources
src/Kalkulator/obj/Debug/Kalkulator.exe
src/Kalkulator/obj/Debug/Calculator.csprojAssemblyReference.cache
src/Kalkulator/obj/Debug/Calculator.csproj.GenerateResource.cache
src/Kalkulator/obj/Debug/Calculator.csproj.FileListAbsolute.txt
src/Kalkulator/obj/Debug/Calculator.csproj.CoreCompileInputs.cache
src/Kalkulator/obj/Debug/App.g.i.cs
src/Kalkulator/obj/Debug/App.g.cs
src/Kalkulator/obj/Debug/About_us.g.i.cs
src/Kalkulator/obj/Debug/About_us.g.cs
src/Kalkulator/obj/Debug/About_us.baml
src/Kalkulator/bin/Debug/Kalkulator.pdb
src/Kalkulator/bin/Debug/Kalkulator.exe.config
src/Kalkulator/bin/Debug/Kalkulator.exe
src/Kalkulator/.vs/Calculator/v16/.suo
src/Tests/bin/Debug/Tests.dll
src/Tests/bin/Debug/Tests.pdb
src/Tests/obj/Debug/Tests.csprojAssemblyReference.cache
src/Tests/obj/Debug/Tests.dll
src/Tests/obj/Debug/Tests.pdb
src/Tests/bin/Debug/Tests.dll
src/Tests/bin/Debug/Tests.pdb
src/Tests/obj/Debug/Tests.csprojAssemblyReference.cache
src/Tests/obj/Debug/Tests.dll
src/Tests/obj/Debug/Tests.pdb
src/Tests/obj/Debug/Tests.pdb
src/Tests/obj/Debug/Tests.dll
src/Tests/obj/Debug/Tests.csprojAssemblyReference.cache
src/Tests/bin/Debug/Tests.pdb
src/Tests/bin/Debug/Tests.dll
src/Kalkulator/.vs/Calculator/v16/.suo
src/Tests/obj/Debug/Tests.csprojAssemblyReference.cache
src/Kalkulator/.vs/Calculator/v16/.suo
src/Kalkulator/obj/Debug/About_us.baml
src/Kalkulator/obj/Debug/Calculator.csprojAssemblyReference.cache
src/Kalkulator/obj/Debug/Kalkulator_MarkupCompile.cache
src/Kalkulator/obj/Debug/Kalkulator_MarkupCompile.lref
src/Kalkulator/obj/Debug/MainWindow.baml
src/Tests/obj/Debug/Tests.csprojAssemblyReference.cache
src/Kalkulator/.vs/Calculator/v16/.suo
src/Kalkulator/obj/Debug/About_us.baml
src/Kalkulator/obj/Debug/Calculator.csprojAssemblyReference.cache
src/Kalkulator/obj/Debug/Kalkulator_MarkupCompile.cache
src/Kalkulator/obj/Debug/Kalkulator_MarkupCompile.lref
src/Kalkulator/obj/Debug/MainWindow.baml
src/Kalkulator/.vs/Calculator/v16/.suo
src/Kalkulator/bin/Debug/Kalkulator.exe
src/Kalkulator/bin/Debug/Kalkulator.pdb
src/Kalkulator/obj/Debug/Calculator.csproj.CoreCompileInputs.cache
src/Kalkulator/obj/Debug/Calculator.csproj.FileListAbsolute.txt
src/Kalkulator/obj/Debug/Calculator.csproj.GenerateResource.cache
src/Kalkulator/obj/Debug/Calculator.csprojAssemblyReference.cache
src/Kalkulator/obj/Debug/Kalkulator.exe
src/Kalkulator/obj/Debug/Kalkulator.pdb
src/Kalkulator/obj/Debug/Kalkulator_MarkupCompile.cache
src/Kalkulator/obj/Debug/Kalkulator_MarkupCompile.lref
src/Tests/bin/Debug/Kalkulator.exe
src/Tests/bin/Debug/Kalkulator.pdb
src/Tests/bin/Debug/Tests.dll
src/Tests/obj/Debug/Tests.csproj.CoreCompileInputs.cache
src/Tests/bin/Debug/Tests.pdb
src/Tests/obj/Debug/Tests.csprojAssemblyReference.cache
src/Tests/obj/Debug/Tests.dll
src/Tests/obj/Debug/Tests.pdb
src/Kalkulator/.vs/Calculator/v16/.suo
src/Kalkulator/obj/Debug/About_us.baml
src/Kalkulator/obj/Debug/Calculator.csprojAssemblyReference.cache
src/Kalkulator/obj/Debug/Kalkulator_MarkupCompile.cache
src/Kalkulator/obj/Debug/Kalkulator_MarkupCompile.lref
src/Kalkulator/obj/Debug/MainWindow.baml
src/Tests/obj/Debug/Tests.csprojAssemblyReference.cache
src/Kalkulator/bin/Release/Kalkulator.pdb
src/Kalkulator/bin/Release/Kalkulator.exe.config
src/Kalkulator/bin/Release/Kalkulator.exe
src/Kalkulator/bin/Debug/Kalkulator.pdb
src/Kalkulator/bin/Debug/Kalkulator.exe
src/Kalkulator/.vs/Calculator/v16/.suo
src/Kalkulator/obj/Debug/Calculator.csproj.CoreCompileInputs.cache
src/Kalkulator/obj/Debug/Calculator.csproj.FileListAbsolute.txt
src/Kalkulator/obj/Debug/Calculator.csproj.GenerateResource.cache
src/Kalkulator/obj/Debug/Calculator.csprojAssemblyReference.cache
src/Kalkulator/obj/Debug/Kalkulator.pdb
src/Kalkulator/obj/Debug/Kalkulator.exe
src/Kalkulator/obj/Debug/Kalkulator_MarkupCompile.cache
src/Kalkulator/obj/Debug/Kalkulator_MarkupCompile.lref
src/Kalkulator/obj/Release/About_us.baml
src/Kalkulator/obj/Release/About_us.g.cs
src/Kalkulator/obj/Release/About_us.g.i.cs
src/Kalkulator/obj/Release/App.g.cs
src/Kalkulator/obj/Release/App.g.i.cs
src/Kalkulator/obj/Release/Calculator.csproj.CoreCompileInputs.cache
src/Kalkulator/obj/Release/Calculator.csproj.FileListAbsolute.txt
src/Kalkulator/obj/Release/Calculator.csproj.GenerateResource.cache
src/Kalkulator/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
src/Kalkulator/obj/Release/Kalkulator.exe
src/Kalkulator/obj/Release/Kalkulator.g.resources
src/Kalkulator/obj/Release/Kalkulator.pdb
src/Kalkulator/obj/Release/Kalkulator.Properties.Resources.resources
src/Kalkulator/obj/Release/Kalkulator_Content.g.i.cs
src/Kalkulator/obj/Release/Kalkulator_MarkupCompile.cache
src/Kalkulator/obj/Release/Kalkulator_MarkupCompile.i.cache
src/Kalkulator/obj/Release/Kalkulator_MarkupCompile.lref
src/Kalkulator/obj/Release/MainWindow.baml
src/Kalkulator/obj/Release/MainWindow.g.cs
src/Kalkulator/obj/Release/MainWindow.g.i.cs
src/Kalkulator/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
src/Tests/obj/Release/build.force
src/Tests/obj/Release/Tests.csprojAssemblyReference.cache
src/Kalkulator/bin/Release/(j)Elitná kalkulačka.exe
src/Kalkulator/bin/Release/(j)Elitná kalkulačka.exe.config
src/Kalkulator/bin/Release/(j)Elitná kalkulačka.pdb
src/Kalkulator/obj/Release/(j)Elitná kalkulačka.exe
src/Kalkulator/obj/Release/(j)Elitná kalkulačka.g.resources
src/Kalkulator/obj/Release/(j)Elitná kalkulačka.pdb
src/Kalkulator/obj/Release/(j)Elitná kalkulačka_Content.g.i.cs
src/Kalkulator/obj/Release/(j)Elitná kalkulačka_MarkupCompile.cache
src/Kalkulator/obj/Release/(j)Elitná kalkulačka_MarkupCompile.i.cache
src/Kalkulator/obj/Release/(j)Elitná kalkulačka_MarkupCompile.lref
src/Kalkulator/obj/Release/Calculator.csprojAssemblyReference.cache
